<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">

    <div class="jumbotron">
    
        <h1>CAPSTONE</h1>
        <h3>로그인</h3>
        
        <form>
        	<p>
        		<input type="text" placeholder="아이디" />
        	</p>
        	<p>
        		<input type="password" placeholder="비밀번호" />
        	</p>
        	<p>
        		<a href="/main" class="btn btn-lg btn-secondary">로그인</a>
        		<a href="/register/register" class="btn btn-lg btn-dark">회원가입</a>
        	</p>
        </form>
        
    </div>
    
</div> <!-- /container -->
</body>
</html>